nav{
    &.navbar-custom{
        background: $navbar-default-bg;
        margin-bottom: 0;

        a{
            color: $nav-font-color;

            &:hover, &:focus{
                background: $primary-color-dark;
            }
        }
    }

    .navbar-toggle .icon-bar {
        background: $nav-font-color;
    }

    .dropdown.open{
        > a, > a:hover, > a:focus{
            background: $primary-color-dark;
        }

        .dropdown-menu{
            background: $primary-color;
            color: white;

            > li > a{
                color: white;

                &:hover, &:focus{
                    background: $primary-color-dark;

                }
            }
        }
    }

}